* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-family: "Open Sans";
}

@font-face {
    font-family: "Open Sans";
    src: url(../Sources/Fonts/OpenSans-SemiBold.ttf);
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #1a6292; 
}

::-webkit-scrollbar-track {
    background: #4fa8e4;
}

header.header {
    background: #3498db;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

header.header .title {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

header.header .title p {
    font-size: 18px;
}

header.header .title h3 {
    font-size: 40px;
}

/* Barra de Navegação */

div.navigation-bar {
    background: rgb(236, 236, 236);
    width: 90%;
    height: 100px;
    position: absolute;
    margin-top: -40px;
    margin-left: 25px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

div.navigation-bar .bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

div.navigation-bar .bar img {
    width: 80px;
    height: 80px;
}

div.navigation-bar .bar:hover {
    cursor: pointer;
    background: rgb(201, 201, 201);
}

/* Section */

section.section {
    width: 100%;
    height: 340px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.section .about_me {
    width: 95%;
    height: 180px;
}

section.section .about_me h2 {
    margin-bottom: 10px;
    color: #3498db;
}

section.section .my_objectives {
    margin-top: 10px;
    width: 95%;
    height: 160px;
}

section.section .my_objectives h2 {
    margin-bottom: 10px;
    color: #3498db;
}

/* Footer */

footer.footer {
    background: #3498db;
    color: white;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer.footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
}

footer.footer .contact #copy {
    font-style: italic;
    margin-bottom: 2px;
}

footer.footer .contact #contact {
    margin-top: 2px;
    margin-bottom: 2px;
}

footer.footer .contact #locale {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* MEDIA */ 

@media (min-width: 320px) {
    div.navigation-bar {
        margin-top: -45px;
        height: 85px;
        margin-left: 17px;
    }

    section.section {
        height: 540px;
    }

    section.section .my_objectives {
        margin-top: 120px;
    }
}

@media (min-width: 425px) {
    div.navigation-bar {
        margin-top: -45px;
        height: 90px;
        margin-left: 17px;
    }

    section.section {
        height: 460px;
    }

    section.section .my_objectives {
        margin-top: 70px;
    }
}

@media (min-width: 768px) {
    div.navigation-bar {
        width: 60%;
        margin-top: -45px;
        height: 100px;
        margin-left: 150px;
    }

    section.section {
        width: 80%;
        height: 400px;
        margin-left: 80px;
    }

    section.section .my_objectives {
        margin-top: 0px;
    }
}

@media (min-width: 1024px) {
    div.navigation-bar {
        width: 50%;
        margin-top: -45px;
        height: 100px;
        margin-left: 250px;
    }

    section.section {
        width: 60%;
        height: 350px;
        margin-left: 200px;
    }
}

@media (min-width: 1440px) {
    div.navigation-bar {
        width: 40%;
        margin-top: -45px;
        height: 100px;
        margin-left: 480px;
    }

    section.section {
        width: 45%;
        height: 350px;
        margin-left: 440px;
    }
}

@media (min-width: 2560px) {
    div.navigation-bar {
        width: 25%;
        margin-top: -45px;
        height: 100px;
        margin-left: 950px;
    }

    section.section {
        width: 35%;
        height: 350px;
        margin-left: 820px;
    }
}